.App {
  background-image: url('./important.png');
  background-repeat: none;
  background-size: cover;
  /* background-size: 300px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.UnityGame {
  width: 80%;
  height: 80%;
}